.home {
    background-image:url(https://raw.githubusercontent.com/Mateus-Frnds/atividade-grid/refs/heads/master/img/fundo.png);
}

.paginas {
    background-image:url(    https://raw.githubusercontent.com/Mateus-Frnds/atividade-grid/refs/heads/master/img/fundo2.png);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    margin-left: 50px;
}

.capa {
    display: block;
    margin: 20px auto;
}

.conteudo {
    max-width: 890px;
    margin: auto;
}

footer {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
